// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.fontwhite {
  color: #FFFFFF !important;
}

// For Inscription Pages
// --------------------------------------------------
.btnicp {
  background: transparent;
  border: solid #FFFFFF;
}
.centrage {
  width: 80%;
  margin: auto;
}
.bkimgicp {
  background-image: url("../assets/img/fond.png");
  background-size: contain;
}
.blitemicp {
  background: transparent;
  border: none !important;
}
.blitemicp *{
  border: none !important;
}
.inputicp {
  background: white;
  border-radius: 64px;
}

// For Research Page
// --------------------------------------------------
.bkrs {
  background-color: #ACAEAD;
}
.srbar {
  background-color: transparent !important;
  border: none !important;
}
.srbar .searchbar-input {
  background-color: #7F8182;
  color: #FFFFFF !important;
}
// ! a changé à ne plus mettre pour mozilla mais pour webkit
.srbar .searchbar-input::-moz-placeholder{
  color: #FFFFFF !important;
}
